@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #264057;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.front-side{
    width: 300px;
    height: 300px;
    background-color: #fff;
    z-index:1;
    display: flex;
    flex-direction: column;  
    border-radius:5px;  
}
.active{
  animation: front-side-animation;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.animation-r{
    animation: front-side-animation-rev;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.front-top{
    width: 100%;
    height: 20%;
    background-color: #5F98CD;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: row;
}
.front-top-icon{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    width: 30px;
    height: 30px;
}
.front-top-text{
    font-family: 'Kanit', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.back-side{
    background-color: #43627D;
    /* background-color: #fff; */
    width: 150px;
    height: 273px;
    z-index: -1;
    position: absolute;
    right: 50%;
    display: flex;
    flex-direction: column;

}
.front-bottom{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 80%;
    justify-content: space-evenly;
}
.notif{
    width:100%;
    height: 33%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    font-family: 'Kanit', sans-serif;
    color: #949191;
    font-weight: bold;
}
.notif:hover{
    color: #5F98CD;
    cursor: pointer;
}
.notif-left{
    width: 20%;
    border-right: #EBEBEB 2px solid;
}
.notif-right{
    width: 80%;
}
.notif-right span{
    position: relative;
    font-size: 12px;
    top: 30%;
    left: 10px;
    
}
.notif-right p{
    position: relative;
    font-size: 16px;
    top: 5%;
    left: 10px;
}
 .dot{
    width: 5px;
    height:5px;
    border-radius: 100%;
    border: #EBEBEB 5px solid;
    position: relative;
    left: 90%;
    top: 50%;
}
.back-side{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 5px;
}
.back-li{
    width:100%;
    height: 25%;
    background-color: #43627D;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #93B2CD;
    transition: all 0.3s ease-in-out;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.back-li:hover{
    cursor: pointer;
    background-color: #2f3942;
}
.back-li img{
    width: 20px;
    height: 20px;
}
.back-li p{
    padding-left: 7px;
}
@keyframes front-side-animation {
    0% {
    transform: translate3d(0, 0, 0) ;
    }
    50% {
      transform: translate3d(60px, 0px, 0) ;
    }
    100% {
      transform: translate3d(120px,0px, 0);
    }
  }
  @keyframes front-side-animation-rev {
    0% {
    transform: translate3d(120px,0, 0) ;
    }
    50% {
      transform: translate3d(60px, 0, 0) ;
    }
    100% {
      transform: translate3d(0, 0px, 0);
    }
  }